@use "sass:meta";

body,
button,
input,
select,
optgroup,
textarea {
	color: var(--color-text-main);
	font-family: var(--font-family-main);
	font-size: var(--font-size-body);
	line-height: var(--line-height-body);
}

@include meta.load-css("headings");
@include meta.load-css("copy");
