@use "../../abstracts/mixins/site-settings";
@use "../../abstracts/variables/colors";
@use "../../abstracts/variables/structure";

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {

	@include site-settings.form-control-base;

	&:focus {
		color: var(--color-text-input-focus);
		border-color: var(--color-text-heading-hover);
		box-shadow: 0 0 0 3px rgba(colors.$color__border-accent-soft, 0.2);
	}
}

select {

	@include site-settings.form-control-base(0.75rem 2.5rem 0.75rem structure.$space__base);
	max-width: 100%;
}

textarea {
	min-height: 10rem;
}
