a {
	color: var(--color-link);
	text-decoration-thickness: 0.08em;
	text-underline-offset: 0.15em;

	&:visited {
		color: var(--color-link-visited);
	}

	&:hover,
	&:focus,
	&:active {
		color: var(--color-link-hover);
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
